.container{ 
    display: flex;
    flex-direction: column;

    .content-views{
        width: 100%;
        height: auto;
        background-color: red;
    }

    .navbar{
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;

        button{
            width: auto;
            padding: 10px;
            margin: 10px;
            border: none;

            &:hover{
                background-color: #02201E;
                cursor: pointer;
                color: white;
            }
        }

    }

    .bar{
        display: flex;
        width: 100%;
        background-image: url("/supergrafico.svg");
        background-repeat: no-repeat;
        background-size: cover;
        height: 1vh;

    }

    .header{
        display: flex;
        flex-direction: row;
        width: 100%;
        height: auto;

        .coluna_menor{
            width: 15%;
            height: 12vh;
            display: flex;
            align-items: center;
            justify-content: center;

            .btn_home{
                padding: 12px;
                border: none;
                width: auto;
                cursor: pointer;
                border-radius: 2px;
                

                &:hover{
                    background-color: #02201E;
                    cursor: pointer;
                    color: white;
                }
            }


        }

        .coluna_maior{
            width: 70%;
            height: 14vh;
            display: flex;
            flex-direction: column;
            text-align: center;
            justify-content: center;

            .title_login{
                font-size: 32px;
                font-family: Arial, Helvetica, sans-serif;
                font-weight: bold;
            }


        }

    }

    .conteudo-form{
        width: 100%;
        height: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 5%;

        .form_login{
            width: 30%;
            display: flex;
            flex-direction: column;

            .btn_form{
                width: 30%;
                padding: 10px;
                border:none;
                background-color: #18837E;
                border-radius: 2px;
                color: white;
                font-weight: bold;
                display: flex;
                align-items: center;
                justify-content: center;

                &:hover{
                    background-color: #02201E;
                    cursor: pointer;
                }

            }

            .title_form{
                text-align: center;
                padding: 30px;
                font-size: 30px;
                font-family: Arial, Helvetica, sans-serif;
                font-weight: bold;
            }

            .label_form{
                font-size: 20px;
                font-family: Arial, Helvetica, sans-serif;
                font-weight: bold;
                
            }

            .input_form{
                margin-bottom: 45px;
                padding: 8px;
                border:none;
                background-color: #D9D9D9;
                border-radius: 2px;
            }
            .drop_area{
                margin-bottom: 45px;
            }
            .input_form_ocorrencia{
                margin-bottom: 15px;
                padding: 8px;
                border:none;
                background-color: #D9D9D9;
                border-radius: 2px;
            }

            .input-form-de{
                padding: 5px;
                width: 100%;
                height: 130px;
                border: none;
                border-radius: 5px;
                background-color: #D9D9D9;
                margin-bottom: 10px;
                resize: none;
            }

            .div_aling{
                width: 100%;
                height: auto;
                display: flex;
                justify-content: center;
                align-items: center;

                .div_check{
                    display: flex;
                    width: 22%;
                    margin-bottom: 20px;
                }

            }

            .aling_center{
                display: flex;
                align-items: center;
                justify-content: center;
                width: 100%;
                height: auto;
                margin-bottom: 30px;

                .first_change{
                    text-align: center;
                    font-size: 16px;
                    font-family: Arial, Helvetica, sans-serif;
                    font-weight: bold;
                    border: none;
                    cursor: pointer;
                    background-color: white;
                }

                .btn_form{
                    width: 30%;
                    padding: 10px;
                    border:none;
                    background-color: #18837E;
                    border-radius: 2px;
                    color: white;
                    font-weight: bold;
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    &:hover{
                        background-color: #02201E;
                        cursor: pointer;
                    }

                }

                .first_pass{
                    font-size: 16px;
                    font-family: Arial, Helvetica, sans-serif;
                    font-weight: bold;
                }
            }  
        }
    }
}